* {
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.custom-shape-divider-top-1615620257 {
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1615620257 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-top-1615620257 .shape-fill {
  fill: #ffffff;
}

h3 {
  font-size: 1.5vw;
}
.title {
  margin-left: 8%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 35%;
  float: right;
  margin-right: 7%;
  margin-left: 20px;
  margin-top: -30px;
}

#tagline {
  margin-left: 0.5%;
  margin-bottom: 50px;
  margin-top: -2vw;
}

.homebutton {
  margin-left: 8%;
  background-color: #458ff6;
  padding: 8px 30px;
  border: none;
  border-radius: 55px;
  font-size: 24px;
  color: white;
}

.homebutton:hover {
  background-color: purple;
}

a {
  text-decoration: none;
  color: white;
  text-emphasis: none;
}

a {
  color: black;
  text-emphasis: none;
  text-decoration: none;
}

nav {
  width: 20%;
  float: right;
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav a:hover {
  color: black;
}
.active {
  color: black;
}
.navcontainer {
  width: 100%;
}

.features {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f7ff;
}
.feature {
  width: 250px;
  height: 300px;
  left: 625px;
  top: 1157px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  /* drop shadow */
  box-shadow: 10px 40px 50px rgba(88, 92, 104, 0.4);
  border-radius: 20px;
}

.feature h3 {
}

.featurecards {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.square {
  width: 30px;
  height: 30px;
  margin-top: -50px;
  background: #b5f2e3;
  border-radius: 4px;
}

.footer {
  margin-top: 100px;
  width: 100%;
  height: 50px;
}
